@media screen and (max-width:1000px) {
    .section2 {
        background-image: url("../images/finejewelryres.jpg");
    }

    .section3 {
        background-image: url("../images/perfumeres.webp");
    }

    .section5 {
        background-image: url("../images/makeupres.jpg");
    }

    .section8 {
        background-image: url("../images/eyewearres.webp");
    }

    .section10 {
        background-image: url("../images/balcksupport.webp");
    }

    .contact{
        position: relative;
    }
}