@media screen and (max-width:1000px) {
    .section2 {
        background-image: url("../images/finejewelryres.jpg");
    }

    .section3 {
        background-image: url("../images/perfumeres.webp");
    }

    /* .section5 {
        background-image: url("../images/makeupres.jpg");
    } */

    .section8 {
        background-image: url("../images/eyewearres.webp");
    }

    .section10 {
        background-image: url("../images/balcksupport.webp");
    }

    .section9 {
        background-image: url("../images/highjewelryres.jpg");
    }

    .contact{
        position: relative;
    }
 
    .navlinks{
        display: none;
        position: fixed;
        align-items: flex-end;
        justify-content: flex-start;
        top: 0;
        left: 0;
        flex-direction: column;
        z-index: 4;
        height: 100%;
        width: 300px;

    }

    .navlinks a{
        padding: 10px 30px;
    }

    .burger-icon{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
    }

}
@media screen and (max-width:1000px) {
    .section11{
        padding: 5rem 2rem 5rem 2rem;
    }
}